#Decklist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#DecklistImage {
    width: 30%;
    height: 30%;
}

body {
    background-color: #1d223b;
}